*.pt filter=lfs diff=lfs merge=lfs -text
denseClassify/*pt filter=lfs diff=lfs merge=lfs -text
inceptionClassify/*pt filter=lfs diff=lfs merge=lfs -text
yoloClassify/*pt filter=lfs diff=lfs merge=lfs -text
yoloObjDetect/*pt filter=lfs diff=lfs merge=lfs -text
